<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RVis.Server.Program.RecordRuntimeExceptions" value="true"/>
    <add key="Program.Log.Level" value="error" />
    <add key="RVisService.Log.Level" value="error" />
    <add key="ROpsApi.Log.Level" value="error" />
    <add key="ROpsApi.RHome" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" 
           type="System.Diagnostics.XmlWriterTraceListener" 
           initializeData="TraceLog.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
</configuration>