<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RVisUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="RVisUIApp.Log.Level" value="error" />
    <add key="RVisUIMvvm.Log.Level" value="error" />
    <add key="RVisUIModel.Log.Level" value="error" />
    <add key="RVisModel.Log.Level" value="error" />
    <add key="Sensitivity.Log.Level" value="error" />
    <add key="RVis.Base.FileOps.ChunkSize" value="16384" />
    <add key="RVisUI.Wpf.Behaviour.DocRoot" value="https://gmptk.github.io/"/>
    <add key="RVisUI.ShowFrameRate" value="true"/>
    <add key="RVisUI.MaximumMemoryPressure" value="0.95"/>
  </appSettings>
  <userSettings>
    <RVisUI.Properties.Settings>
      <setting name="RestoreWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrimaryColorName" serializeAs="String">
        <value>Indigo</value>
      </setting>
      <setting name="SecondaryColorName" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="RecordRuntimeExceptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsBaseDark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModuleConfiguration" serializeAs="String">
        <value />
      </setting>
      <setting name="RThrottlingUseCores" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PathToSimLibrary" serializeAs="String">
        <value>~/RVisSim</value>
      </setting>
      <setting name="PrimaryColorHue" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SecondaryColorHue" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="PrimaryForegroundColorName" serializeAs="String">
        <value />
      </setting>
      <setting name="PrimaryForegroundColorHue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SecondaryForegroundColorName" serializeAs="String">
        <value />
      </setting>
      <setting name="SecondaryForegroundColorHue" serializeAs="String">
        <value>0</value>
      </setting>
    </RVisUI.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Windows.Threading" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>